# Python Course

## Course Content


* Introduction to Programming
* Variables and Data Types 
  * Numbers
  * Strings
  * Boolean
* Type Conversion
* Expressions
* Python Operators
    *   Assignment Operators
    *   Comparison Operators
    *   Logical Operators
    *   Identity Operators
    *   Membership Operators
    *   Bitwise Operators

* Control Flow Tools 
  * If statements
  * Loops (for and while statements)
  * The  range() function
  * Break, continue and pass
  
* Functions
  * Arguments
  * Keyword Arguments
  * Special Parameters
  * Positional-or-Keyword Arguments
  * Positional-Only Parameters
  * Keyword-Only Arguments
  * Arbitrary Argument Lists
  * Unpacking Argument Lists
  * Lambda Expressions
  * Documentation Strings
  * Math Functions 
  * Recursion    
  * Global Keyword

* File handling 

* Classes and OOP 
  * A Word About Names and Objects
  * Python Scopes and Namespaces
  * A First Look at Classes
    * Constructors and Deconstructors 
    * Class Objects, Instance Objects and Method Objects
    * Class and Instance Variables

* Numpy Tutorial
* Pandas Tutorial

## Introduction to programming Agenda:

* [Introduction to Programming](#introduction_to_programming)
* [Variables and Data Types](#variables_and_data_types) 
  * Numbers
  * Strings
  * Boolean
* [Type Conversion](#type_conversions)
* [Expressions](#expressions)
* [Python Operators](#python_operators)
    *   [Assignment Operators](#assignment_operators)
    *   [Comparison Operators](#comparison_operators)
    *   [Logical Operators](#logical_operators)
    *   [Identity Operators](#identity_operators)
    *   [Membership Operators](#membership_operators)
    *   [Bitwise Operators](#bitwise_operators)
 
* [Strings](#strings)
    *   [Defining a string](#ds)
    *   [Indexing String](#is)
    *   [Concatenating Strings](#cs)
    *   [Playing with strings](#ps)    
    *   [String conversions](#sc)
    *   [String methods](#sm)
    *   [String formating](#sf)

### <a id='introduction_to_programming'></a> Introduction to Programming


1. a program is a sequence of <span style="color:blue">definitions and commands</span>
definitions evaluated 
2. commands executed by <span style="color:blue">Python interpreter</span> in a shell
3. Commands (statements) instruct interpreter to do something
can be typed directly in a shell or stored in a file that is read into the shell and evaluated

#### Python Objects

* programs manipulate data objects
* objects have a type that defines the kinds of things programs can do to them
  * Ana is a human so she can walk, speak English, etc. 
  * Chewbacca is a wookie so he canwalk, “mwaaarhrhh”, etc.
* objects are
  * <span style="color:blue">scalar</span> (cannot be subdivided) like integers ,float,etc
  * <span style="color:blue">non-scalar</span> (have internal structure that can be accessed) like a list (of numbers, strings, etc)

### <a id='variables_and_data_types' ></a> Variables and data types


* int  –represents <span style="color:blue">integers</span>, ex. 5
* float –represents <span style="color:blue">real numbers</span>, ex. 3.27
* bool  –represents <span style="color:blue">Boolean values True and False</span>
* NoneType –special and has one value, None
* Use *type()* to see the type of an object

Let's start by defining some basic datatypes.

Defining an integer variable which represents a scalar object.

In [1]:
print(x)

NameError: name 'x' is not defined

In [2]:
# defining an integer
x = 3
# print the type of the x variable
print(type(x))

<class 'int'>

In [ ]:
print(3)
print(type(3))

Defining a float variable

In [3]:
# defining a float
x = 3.0 
print(type(x))

<class 'float'>

Defining a boolean variable

In [4]:
# defining a float variable which represents a scalar object
x = True
print(type(x))
x = False
print(type(x))

<class 'bool'>
<class 'bool'>

Defining a string or character.

Characters and Strings are treated the same way in python and they are defined using '' or ""

In [5]:
x = 'h'
print(type(x))

<class 'str'>

In [6]:
x = "hello world"
print(type(x))

<class 'str'>

### <a id='type_conversions'></a>Type Conversions (TYPE CASTING)

Frequently we may need to convert the datatypes of variables, so we use type casting.

* can convert object of one type to another
* float(3) converts integer 3 to float 3.0
* int(3.9) truncates float 3.9to integer 3

In [7]:
num = 3
float(num)

3.0

In [8]:
print(bool(5.3)) #casting an int to boolean
print(bool(-1)) #casting an int to boolean
print(bool(0))

True
True
False

In [9]:
s = str(5)
print(s)

5

In [14]:
s*3

'555'

In [13]:
s+"3"

'53'

In [15]:
bool("sdfghjk")

True

In [16]:
bool("")

False

In [ ]:
type(s)

In [17]:
s = '5'
s = int(s)
s

5

In [18]:
type(s)

int

### <a id='expressions'></a> Expressions

* combine <span style="color:blue">objects</span> and <span style="color:blue">operators</span> to form expressions
* an expression has a value, which has a type
* syntax for a simple expression
   * object operator object

Example of OPERATORS ON ints and floats

* i+j -> the sum
* i-j -> the difference
* i*j -> the product
* i/j -> division
* i%j -> the remainder when i is divided by j
* i**j -> I to the power of j

### <a id='python_operators'></a> Python Operators

Operators are used to perform operations on variables and values.

Python divides the operators in the following groups:

Arithmetic operators

*   Assignment operators
*   Comparison operators
*   Logical operators
*   Identity operators
*   Membership operators
*   Bitwise operators

### <a id='arithmatic_operators'></a>Arithmatic Operators

Arithmetic operators are used with numeric values to perform <span style="color:blue">common mathematical operations</span>


Arithmatic Operators are +, -, *, /, %, **, //

| Operator | Name           | Example  |  |
| -------- | -------------- | -------- |  |
|  |
| +        | Addition       | x + y    |  |
| \-       | Subtraction    | x - y    |  |
| \*       | Multiplication | x \* y   |  |
| /        | Division       | x / y    |  |
| %        | Modulus        | x % y    |  |
| \*\*     | Exponentiation | x \*\* y |  |
| //       | Floor division | x // y   |

In [ ]:
print("Sum is ", 3+3) 
print("Multiplication is ", 3*3)
print("Diff is ", 3-3)
print("Division is ",5/3)
print("Modulus or remainder is ",3%3)
print("quotient is ",5//3)
print("Power is ", int(4**0.5))

### <a id='assignment_operators'></a> Assignment Operators

Assignment operators are used to <span style="color:blue">assign values to variables.</span>

Assignment Operators are  =, +=, -=, /=, *=, %=, //=, **=, &=, |=, ^=, >>=, <<=​

| Operator | Example |   Same As  |
|:--------:|:-------:|:----------:|
| =        | x = 5   | x = 5      |
| +=       | x += 3  | x = x + 3  |
| -=       | x -= 3  | x = x - 3  |
| *=       | x *= 3  | x = x * 3  |
| /=       | x /= 3  | x = x / 3  |
| %=       | x %= 3  | x = x % 3  |
| //=      | x //= 3 | x = x // 3 |
| **=      | x **= 3 | x = x ** 3 |
| &=       | x &= 3  | x = x & 3  |
| \|=      | x \|= 3 | x = x \| 3 |
| ^=       | x ^= 3  | x = x ^ 3  |
| >>=      | x >>= 3 | x = x >> 3 |
| <<=      | x <<= 3 | x = x << 3 |

In [ ]:
x = 1 
print("x is ",x)
x += 1 # x = x + 1
print("x is ",x)
x -= 1
print("x is ",x)
x /= 2
print("x is ",x)
x *= 2 # x = 0.5 * 2 -> 1.0
print("x is ",x)

In [ ]:
x = 5 
print("x is ", x)
x %= 2 # x = x % 2
print("x modulus 2 is ",x)


x = 4
x //=2
print("the quotient of dividing x by 2 is ",x)
x **= 2 
print("x to the power of 2 is ",x)

In [19]:
s="xdtfyguhijok"

In [56]:
A=1000000000000
B=5

print(A == B)

False

In [33]:
A+=3

In [34]:
print(A,B)

1003 1000

In [35]:
print(A is B)

False

In [ ]:
x = True # x= bool()
y = False
z = True

# T and F --> F
# T or F --> T

print("x is ", x)
print("y is ", y)
x &= y #x= false
print("x and y  is ", x)
x |= y #x= false


print("x or x is ",x)

In [47]:
s="5"

In [50]:
s=s*3

In [49]:
s

'5'

In [45]:
a=[1,2,5,3,6]
b=a

In [51]:
b.append(5)
print(a is b)

AttributeError: 'NoneType' object has no attribute 'append'

In [41]:
b=[3,3]
print(a,b)

[1, 2, 5, 3, 6, 5] [3, 3]

In [ ]:
x=True
y=True

x ^= y
print("x xor y is ",x)

In [ ]:
x = 1 #0001 <<0010
x <<= 1  #x = x << 1
print("x shifted by 1 to the left is ", x)
x >>= 2 # 0010 > 0001
print("x shifted by 1 to the right is ", x)

### <a id='comparisioin_operators'></a>Comparison Operators

Comparison operators are used to <span style="color:blue">compare two values</span>

Comparison Operators are ==, !=, >, <, >=, <=

| Operator |           Name           | Example |
|:--------:|:------------------------:|:-------:|
|    ==    |           Equal          |  x == y |
|    !=    |         Not equal        |  x != y |
|     >    |       Greater than       |  x > y  |
|     <    |         Less than        |  x < y  |
|    >=    | Greater than or equal to |  x >= y |
|    <=    |   Less than or equal to  |  x <= y |

In [ ]:
x = 2
y = 2 

print(f"x equal to y { x == y}")

print("x not equal to y > ", x != y)

print("x greater than y > ",x > y|x!y)

print("x less than y > ", x < y)

print("x greater than or equal y > ", x >= y) #2 >= 2 True

print("x less than or equal y > ", x <= y)

In [ ]:
x=5
y=3

In [ ]:
int(True)

In [ ]:
x>True!=y

In [ ]:
1 | 1

In [ ]:
0001 | 0001   0001

In [ ]:
x > y or x != y

In [ ]:
True|x!=y

### <a id='logical_operators'></a>Logical Operators

Logical operators are used to <span style="color:blue">combine conditional statements</span>

Logical Operators are and, or, not

| Operator |                       Description                       |        Example        |   |
|:--------:|:-------------------------------------------------------:|:---------------------:|:-:|
| and      | Returns True if both statements are true                | x < 5 and x < 10      |   |
| or       | Returns True if one of the statements is true           | x < 5 or x < 4        |   |
| not      | Reverse the result, returns False if the result is true | not(x < 5 and x < 10) |   |

In [ ]:
x = True
y = False

print("x and y  is ", x and y )
print("x or y is ", x or y )
print("Not y is ", not y )

### <a id='identity_operators'></a>Identity Operators

Identity operators are used <span style="color:blue">to compare the objects</span>, not if they are equal, but if they are actually the same object, with the same memory location

Identity Operators are 'is' and 'is not'

| Operator |                       Description                      |   Example  |
|:--------:|:------------------------------------------------------:|:----------:|
| is       | Returns true if both variables are the same object     | x is y     |
| is not   | Returns true if both variables are not the same object | x is not y |

In [ ]:
x = True

print( x is True)
print(x is not True)

### <a id=membership_operators></a> Membership Operators

Membership operators are used to <span style="color:blue">test if a sequence is presented in an object</span>

Membership Operators are 'in' and 'not in'

| Operator |                                    Description                                   |   Example  |
|:--------:|:--------------------------------------------------------------------------------:|:----------:|
| in       | Returns True if a sequence with the specified value is present in the object     | x in y     |
| not in   | Returns True if a sequence with the specified value is not present in the object | x not in y |

In [ ]:
# will be visited more in lists

x = [1,2,3]
print(2 in x)
print(2 not in x)

### <a id='bitwise_operators'></a> Bitwise Opertors

Bitwise operators are used to <span style="color:blue">compare (binary) numbers</span>

Bitwise Opertors are &, |, ~, ^

| Operator |         Name         |                                                Description                                               |
|:--------:|:--------------------:|:--------------------------------------------------------------------------------------------------------:|
|    &     |          AND         |                                   Sets each bit to 1 if both bits are 1                                  |
|    \|    |          OR          |                                Sets each bit to 1 if one of two bits is 1                                |
|     ^    |          XOR         |                              Sets each bit to 1 if only one of two bits is 1                             |
|    ~     |          NOT         |                                           Inverts all the bits                                           |
|    <<    | Zero fill left shift |             Shift left by pushing zeros in from the right and let the leftmost bits fall  off            |
|    >>    |  Signed right shift  | Shift right by pushing copies of the leftmost bit in from the left, and let  the rightmost bits fall off |

In [ ]:
 a = 10
b = 4

# Print bitwise AND operation
print("a & b =", a & b)
 
# Print bitwise OR operation
print("a | b =", a | b)
 
# Print bitwise NOT operation
print("~a =", ~a)
 
# print bitwise XOR operation
print("a ^ b =", a ^ b)

In [ ]:
2 & 4 #0001 & 0010 >>>>>>>0000

In [ ]:
a = 5
b = 10
print("a  = ", a)
print("b  = ", b)
print("binary of a is ",bin(a))
print("binary of b is ",bin(b))
# print bitwise left shift operator
a_shifted = a << 1
print("a << 1 =", a_shifted)
print("binary of a << 1 ", bin(a_shifted))
b_shifted = b >> 1
print("b << 1 =", b_shifted)
print("binary of b >> 1 ", bin(b_shifted))

### <a id='strings'></a>Strings

Strings in python are surrounded by either <span style="color:blue">single</span> quotation marks, or <span style="color:blue">double</span> quotation marks like 'hello' or "hello".

Strings contains letters, special characters, spaces, digits

### <a id='ds'></a> Defining a string

In [ ]:
s = "Tahaluf" # or s = 'Tahaluf'
s

In [ ]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

### <a id='is'></a>Indexing String

Strings are Arrays

Like many other popular programming languages, strings in Python are arrays of bytes representing <span style="color:blue">unicode characters.</span>

However, Python does not have a character data type, a single character is simply a string with a length of 1.

<span style="color:blue">Square brackets</span> can be used to <span style="color:blue">access</span> elements of the string.

In [ ]:
s='Tahaluf'

In [ ]:
#access or index the first char in the string

s[0]

In [ ]:
#access the first 4 chars in the string
s[0:4]

In [ ]:
# reverse the string
s[::-1]

In [ ]:
# access the last char only
s[-1]

In [ ]:
s

In [ ]:
#access the last 2 chars in the string
s[-2:]

### <a id='cs'></a>Concatenating Strings

In [ ]:
s
s+" "+"fghjn"

In [ ]:
s

In [ ]:
# append a string to another string at the end
s += " is here"

In [ ]:
s

In [ ]:
s

In [ ]:
# append string to another string at the begining
s = "hello " + s

In [ ]:
s

### <a id='ps'></a>Playing with strings

In [ ]:
s

In [ ]:
#print while skipping chars
print(s[0::2])

In [ ]:
print(s[0:len(s):2])

In [ ]:
s[::2]

In [ ]:
s

In [ ]:
# find length of string
print(len(s))

In [ ]:
s*3

In [ ]:
s= s+ " "

In [ ]:
# repeat strings
print(s * 3)

In [ ]:
# print new lines
s = 'Tahaluf'
print(s + '\n')
print(s)

# print horizontal tab 
print(s + '\t' + s)

# print backslash
print(s + '\\')

### <a id='sc'></a> String conversions

In [ ]:
print("42" + 1)

In [ ]:
#casting string to int
print(int("42") + 1)

In [ ]:
#cast int to string
s = "Hello"
x = 1 
print(s + str(x))

### <a id='sm'></a> String methods

In [ ]:
#using splitlines() method to split lines of a string
s = "Hi there, this is the first line\n This is the second line"
s.splitlines()

In [61]:
# use split() method to split a string by some character
s = "Hi there, this is the\nfirst line"
s=s.split()

In [62]:
s

['Hi', 'there,', 'this', 'is', 'the', 'first', 'line']

In [ ]:
# use title method to make some string a title
s = "Hi there"
s.title()

In [ ]:
# use lower() method to make a string of lower case characters
s = "Hi There"
s.lower()

In [ ]:
# use upper() method to make a string of upper case characters
s = "Hi There"
s.upper()

| Method                                                                         | Description                                                                                   |
| ------------------------------------------------------------------------------ | --------------------------------------------------------------------------------------------- |
|  |
| [capitalize()](https://www.w3schools.com/python/ref_string_capitalize.asp)     | Converts the first character to upper case                                                    |
| [casefold()](https://www.w3schools.com/python/ref_string_casefold.asp)         | Converts string into lower case                                                               |
| [center()](https://www.w3schools.com/python/ref_string_center.asp)             | Returns a centered string                                                                     |
| [count()](https://www.w3schools.com/python/ref_string_count.asp)               | Returns the number of times a specified value occurs in a string                              |
| [encode()](https://www.w3schools.com/python/ref_string_encode.asp)             | Returns an encoded version of the string                                                      |
| [endswith()](https://www.w3schools.com/python/ref_string_endswith.asp)         | Returns true if the string ends with the specified value                                      |
| [expandtabs()](https://www.w3schools.com/python/ref_string_expandtabs.asp)     | Sets the tab size of the string                                                               |
| [find()](https://www.w3schools.com/python/ref_string_find.asp)                 | Searches the string for a specified value and returns the position of where it was found      |
| [format()](https://www.w3schools.com/python/ref_string_format.asp)             | Formats specified values in a string                                                          |
| format\_map()                                                                  | Formats specified values in a string                                                          |
| [index()](https://www.w3schools.com/python/ref_string_index.asp)               | Searches the string for a specified value and returns the position of where it was found      |
| [isalnum()](https://www.w3schools.com/python/ref_string_isalnum.asp)           | Returns True if all characters in the string are alphanumeric                                 |
| [isalpha()](https://www.w3schools.com/python/ref_string_isalpha.asp)           | Returns True if all characters in the string are in the alphabet                              |
| [isascii()](https://www.w3schools.com/python/ref_string_isascii.asp)           | Returns True if all characters in the string are ascii characters                             |
| [isdecimal()](https://www.w3schools.com/python/ref_string_isdecimal.asp)       | Returns True if all characters in the string are decimals                                     |
| [isdigit()](https://www.w3schools.com/python/ref_string_isdigit.asp)           | Returns True if all characters in the string are digits                                       |
| [isidentifier()](https://www.w3schools.com/python/ref_string_isidentifier.asp) | Returns True if the string is an identifier                                                   |
| [islower()](https://www.w3schools.com/python/ref_string_islower.asp)           | Returns True if all characters in the string are lower case                                   |
| [isnumeric()](https://www.w3schools.com/python/ref_string_isnumeric.asp)       | Returns True if all characters in the string are numeric                                      |
| [isprintable()](https://www.w3schools.com/python/ref_string_isprintable.asp)   | Returns True if all characters in the string are printable                                    |
| [isspace()](https://www.w3schools.com/python/ref_string_isspace.asp)           | Returns True if all characters in the string are whitespaces                                  |
| [istitle()](https://www.w3schools.com/python/ref_string_istitle.asp)           | Returns True if the string follows the rules of a title                                       |
| [isupper()](https://www.w3schools.com/python/ref_string_isupper.asp)           | Returns True if all characters in the string are upper case                                   |
| [join()](https://www.w3schools.com/python/ref_string_join.asp)                 | Joins the elements of an iterable to the end of the string                                    |
| [ljust()](https://www.w3schools.com/python/ref_string_ljust.asp)               | Returns a left justified version of the string                                                |
| [lower()](https://www.w3schools.com/python/ref_string_lower.asp)               | Converts a string into lower case                                                             |
| [lstrip()](https://www.w3schools.com/python/ref_string_lstrip.asp)             | Returns a left trim version of the string                                                     |
| [maketrans()](https://www.w3schools.com/python/ref_string_maketrans.asp)       | Returns a translation table to be used in translations                                        |
| [partition()](https://www.w3schools.com/python/ref_string_partition.asp)       | Returns a tuple where the string is parted into three parts                                   |
| [replace()](https://www.w3schools.com/python/ref_string_replace.asp)           | Returns a string where a specified value is replaced with a specified value                   |
| [rfind()](https://www.w3schools.com/python/ref_string_rfind.asp)               | Searches the string for a specified value and returns the last position of where it was found |
| [rindex()](https://www.w3schools.com/python/ref_string_rindex.asp)             | Searches the string for a specified value and returns the last position of where it was found |
| [rjust()](https://www.w3schools.com/python/ref_string_rjust.asp)               | Returns a right justified version of the string                                               |
| [rpartition()](https://www.w3schools.com/python/ref_string_rpartition.asp)     | Returns a tuple where the string is parted into three parts                                   |
| [rsplit()](https://www.w3schools.com/python/ref_string_rsplit.asp)             | Splits the string at the specified separator, and returns a list                              |
| [rstrip()](https://www.w3schools.com/python/ref_string_rstrip.asp)             | Returns a right trim version of the string                                                    |
| [split()](https://www.w3schools.com/python/ref_string_split.asp)               | Splits the string at the specified separator, and returns a list                              |
| [splitlines()](https://www.w3schools.com/python/ref_string_splitlines.asp)     | Splits the string at line breaks and returns a list                                           |
| [startswith()](https://www.w3schools.com/python/ref_string_startswith.asp)     | Returns true if the string starts with the specified value                                    |
| [strip()](https://www.w3schools.com/python/ref_string_strip.asp)               | Returns a trimmed version of the string                                                       |
| [swapcase()](https://www.w3schools.com/python/ref_string_swapcase.asp)         | Swaps cases, lower case becomes upper case and vice versa                                     |
| [title()](https://www.w3schools.com/python/ref_string_title.asp)               | Converts the first character of each word to upper case                                       |
| [translate()](https://www.w3schools.com/python/ref_string_translate.asp)       | Returns a translated string                                                                   |
| [upper()](https://www.w3schools.com/python/ref_string_upper.asp)               | Converts a string into upper case                                                             |
| [zfill()](https://www.w3schools.com/python/ref_string_zfill.asp)               | Fills the string with a specified number of 0 values at the beginning                         |

In [ ]:
'The knights who say %d! '%exclamation

### <a id='sf'></a> String formating

In [ ]:
#string formating
exclamation = "zsxdcfgbhj"

'The knights who say %s! ' % exclamation

In [ ]:
#type specific string formating
'The knights who say Ni!'
' %d %s %g you ' % (25.6, 'spam', 4)

In [ ]:
#all types string formating
'1 spam 4 you'
' %s -- %s -- %s ' % (42, 3.14159, [1, 2, 3])

In [ ]:
f" {42} -- {3.14159} -- {[1,2,3]} "

# Good Luck